*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #B91550;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    color: white;
    text-align: center;
    margin-top: 15px;
}

.container, .container2{
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    border-radius: 15px;
}

.container{
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

form{
    width: 80%;
}

.inserimento1, .inserimento2, .inserimento3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    display: block;
    text-align: center;
    color:  #B91550;
    margin-bottom: 15px;
}

input, select{
    text-align: center;
    border: 1px solid #B91550;
    border-radius: 4px;
}



.secondpart{
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

button{
    margin: 0 30px;
    padding: 15px;
    color:  #B91550;
    border: 2px solid #B91550;
    border-radius: 4px;
    width: 100px;
    height: 50px;
    background-color: white;
}

#toreveal{
    display: none;
}

.container2{
    padding: 15px 0;
    margin-bottom: 40px;
}

.wrapper{
    width: 90%;
    margin: auto;
}

.biglietto{
    display: flex;
}

.biglietto div{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 30px 0;
    text-align: center;
}

table {
    width: 100%;
    text-align: center;
}

.black{
    background-color: #808080;
}

.inoculated{
    text-transform: capitalize;
}


@keyframes pulse{
    0%{
        transform: scale(1);
    }

    25%{
        transform: scale(1.1);
    }

    50%{

        transform: scale(1.3);
    }
    

    75%{
        transform: scale(1.1);
    }
    

    100%{
        transform: scale(1);
    }  
}


@media screen and (min-width: 320px) {

    
    h1{
        font-size: 22px;
    }

    .inserimento1, .inserimento2, .inserimento3{
        width: 100%;
    }

    label{
        margin: 15px 0;
    }

    h2{
        font-size: 18px;
    }

    table{
        font-size: 8px;
    }

    .inoculated{
        padding: 30px 0;
    }  
}

@media screen and (min-width: 500px){

    h1{
        font-size: 24px;
    }

    .inserimento1, .inserimento2, .inserimento3{
        width: 100%;
    }

    label{
        margin: 15px 0;
    }

    h2{
        font-size: 20px;
    }

    table{
        font-size: 10px;
    }
}

@media screen and (min-width: 767px){

    h1{
        font-size: 28px;
    }

    h2{
        font-size: 24px;
    }

    table{
        font-size: 12px;
    }

    .inoculated{
        padding: 40px 0 ;
    }
}

@media screen and (min-width: 992px) {

    h1{
        font-size: 32px;
    }

    .firstpart{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .inserimento1, .inserimento2{
        width: 50%;
        padding: 0;
    }

    .inserimento3{
        padding-top: 20px;
        width: 100%;
    }

    label{
        margin-bottom: 15px;
    }

    h2{
        font-size: 28px;
    }

    table{
        font-size: 14px;
    }

    .inoculated{
        padding: 50px 0 ;
    } 
}

@media screen and (min-width: 1080px){

    .firstpart{
        display: flex;
        justify-content: space-around;
    }

    .inserimento1, .inserimento2, .inserimento3{
        width: calc(100% / 3);
        padding: 0 15px;
    }

    table{
        font-size: 18px;
    }

    .inoculated{
        padding: 60px 0 ;
    }
}